<p style="text-align: center;font-size: 30px;margin: 10px;">Hey tomas welcome back</p>
<div style="font-size:20px;text-align:center;margin:10px"><button class="btn">Your Schedule</button> | <button class="btn">Live running</button></div>
    <div class="container">
        <div class="circle">
            <div class="content">
                <p>Voilin Class <span style="font-size: 12px; margin: 0;margin-bottom: 10px;">4:04pm</span> </p>
                <p>😡Live now</p>
            </div>
            <button><img src="../../../assets/youtube.png"/></button>
        </div>
        <div class="circle">
            <div class="content">
                <p>Voilin Class <span style="font-size: 12px; margin: 0;margin-bottom: 10px;">4:04pm</span> </p>
                <p>😡Live now</p>
            </div>
            <button>Join Now</button>
        </div>
        <div class="circle">
            <div class="content">
                <p>Voilin Class <span style="font-size: 12px; margin: 0;margin-bottom: 10px;">4:04pm</span> </p>
                <p>😡Live now</p>
            </div>
            <button>Join Now</button>
        </div>
        <div class="circle">
            <div class="content">
                <p>Voilin Class <span style="font-size: 12px; margin: 0;margin-bottom: 10px;">4:04pm</span> </p>
                <p>😡Live now</p>
            </div>
            <button>Join Now</button>
        </div>
        <div class="circle">
            <div class="content">
                <p>Voilin Class <span style="font-size: 12px; margin: 0;margin-bottom: 10px;">4:04pm</span> </p>
                <p>😡Live now</p>
            </div>
            <button>Join Now</button>
        </div>
    </div>